@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper {
    display: grid;
    height: 100vh;
    background: url("../img/animals/meerkats-zoo-animals-zoological-garden-preview.jpeg");
    background-size: 1600px;
    background-repeat: no-repeat;
    grid-template-columns: minmax(600px, 1fr);
    grid-template-areas: 
    "he he"
    "na na"
    "se se"
    "se2 se2";
}

header {
    height: 80px;
    width: auto;
    background-color: green;
    grid-area: he;
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5rem;
    background-color: rgb(203, 252, 252);
}
a {
    text-decoration: none;
}

h3 {
    color: green;
}

 nav {
    display: flex;
    height: 70px;
    width: auto;
    justify-content: center;
    grid-area: na;
}

.omoss {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    height: 80px;
    width: 80px;
    background-color: rgb(186, 230, 173);
    margin: 10px;
}

.start {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    height: 80px;
    width: 80px;
    background-color: rgb(186, 230, 173);
    margin: 10px;
}

.djur {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    height: 80px;
    width: 100px;
    background-color: rgb(186, 230, 173);
    margin: 10px;
    padding: 5px;
}

.valkommen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Luckiest Guy', cursive;
    color: rgb(255, 255, 255);
}

/* #sec1 {
    grid-area: se;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 40%;
    bottom: 3%;
    height: 195px;
    width: 610px;
} */


#sec2 {
    grid-area: se2;
    display: grid;
    align-items: center;
    border: 2px solid black;
    height: 210px;
    width: 210px;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(142, 240, 112, 0.5);
}


#sec2 {
    grid-area: se2;
}
