@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "he he"
    "na na"
    "se ar"
    "se2 arr"
    "fo fo";
}

header {
    height: 80px;
    width: auto;
    background-color: green;
    grid-area: he;
}

body {
    background: rgb(231, 246, 207);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5rem;
    background-color: rgb(203, 252, 252);
}

 nav {
    display: flex;
    height: 70px;
    width: auto;
    justify-content: center;
    grid-area: na;
}

.omoss {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    height: 80px;
    width: 80px;
    background-color: rgb(186, 230, 173);
    margin: 10px;
}

.start {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    height: 80px;
    width: 80px;
    background-color: rgb(186, 230, 173);
    margin: 10px;
}

.djur {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    height: 80px;
    width: 100px;
    background-color: rgb(186, 230, 173);
    margin: 10px;
    padding: 5px;
}

.valkommen {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
}

#sec1 {
    grid-area: se;
    display: grid;
    align-items: center;
    position: relative;
    left: 15%;
    height: 300px;
    width: 800px;
}

#sec2 {
    grid-area: se2;
    display: grid;
    align-items: center;
    position: relative;
    left: 50%;
    border: 2px solid black;
    height: 210px;
    width: 210px;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(126, 173, 112);
}

#article1 {
    grid-area: ar;
}

#article2 {
    grid-area: arr;
}

#zoo_img {
    height: 200px;
    width: auto;
}

#zoo_img2 {
    height: 250px;
    width: auto;
}

#sec2 {
    grid-area: se2;
}

footer {
    grid-area: fo;
}