@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 20px 1000px 25px 1500px 100px;
    grid-template-areas: 
    "he he"
    "na na"
    "se se"
    "v v"
    "se_dj se_dj"
    "fo fo";
}


header {
    background-color: green;
    grid-area: he;
}


h1 {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 3rem;
    color: rgb(2, 38, 2);
}


h3 {
    color: rgb(2, 27, 2);
}

 nav {
    display: flex;
    justify-content: space-around;
    grid-area: na;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    grid-area: na;
    position: relative;
    bottom: 45%;
    font-family: 'Rajdhani', sans-serif;
    background-color: rgb(32, 164, 32);
    height: 33px;
    width: 5000px;
    border: 2px solid rgb(3, 92, 40);
    border-radius: 3px;
}

/* .omoss {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    height: 80px;
    width: 80px;
    background-color: rgb(186, 230, 173);
    margin: 10px;
    font-family: 'Rajdhani', sans-serif;
}

.start {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    height: 80px;
    width: 80px;
    background-color: rgb(186, 230, 173);
    margin: 10px;
    font-family: 'Rajdhani', sans-serif;
}

.djur {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    height: 80px;
    width: 100px;
    background-color: rgb(186, 230, 173);
    margin: 10px;
    padding: 5px;
    font-family: 'Rajdhani', sans-serif;
} */

.valkommen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 340px;
    font-size: 4rem;
    font-family: 'Rajdhani', sans-serif;
    color: rgb(255, 255, 255);
}

#nti {
    color: purple;
    font-style: normal;
}

/* #sec1 {
    grid-area: se;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 40%;
    bottom: 3%;
    height: 195px;
    width: 610px;
} */

#sec1{
    grid-area: se;
    background: url("../img/animals/jackie-park-3SBfM2-ytb8-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 1600px;
    
}

#sec_djur {
    grid-area: se_dj;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(220, 176, 109);
    margin: 50px;
}

#djur_text {
    padding: 10px;
    margin: 60px;
    font-family: 'Rajdhani', sans-serif;
    width: 1000px;
}

#djur_text2 {
    width: 1000px;
    padding: 10px;
    margin: 60px;
    font-family: 'Rajdhani', sans-serif;
}

.vara_djur {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: v;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

body {
    background: rgb(192, 150, 89);
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: fo;
    background: rgb(138, 107, 59);
    font-family: 'Rajdhani', sans-serif;
}


#grid_wrapper2 {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 20px 1px 400px 400px 400px 100px;
    grid-template-areas: 
    "he he he"
    "na na na"
    "h h h"
    "se_fo se_fo se_fo"
    "se_fo2 se_fo2 se_fo2"
    "se_fo3 se_fo3 se_fo3"
    "fo fo fo";
}

.veckans {
    display: flex;
    font-family: 'Luckiest Guy', sans-serif;
    margin-top: 65px;
    grid-area: h;
    justify-content: center;
    font-size: 2.5rem;
}


#sec_meny {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-area: se_fo;
    margin-top: 100px;
}


#sec_meny2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-area: se_fo2;
    margin-top: 50px;
}


#sec_meny3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-area: se_fo3;
    margin-bottom: 400px;
}

.djurr {
    width: 400px;
    height: 300px;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    margin-top: 50px;
    font-family: 'Rajdhani', sans-serif;
}



.food {
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    text-align: center;
    background-color: white;
    font-family: 'Rajdhani', sans-serif;
}




.bild_mat1 {
    height: 50%;
    border: 2px solid black;
    border-radius: 200px 200px 200px 200px;
}

.bild_mat2 {
    height: 37%;
    border: 2px solid black;
    border-radius: 200px 200px 200px 200px;
}

.bild_mat3 {
    height: 50%;
    border: 2px solid black;
    border-radius: 200px 200px 200px 200px;
}


.bild_djur {
    height: 90%;
    border: 2px solid black;
    border-radius: 45px;
}

.bild_djur2 {
    height: 90%;
    width: 350px;
    border: 2px solid black;
    border-radius: 45px;
}

.bild_djur3 {
    height: 90%;
    width: 350px;
    border: 2px solid black;
    border-radius: 45px;
}

.bild_djur4 {
    height: 90%;
    width: 350px;
    border: 2px solid black;
    border-radius: 45px;
}

.bild_djur5 {
    height: 90%;
    width: 300px;
    border: 2px solid black;
    border-radius: 45px;
}

.bild_djur6 {
    height: 90%;
    width: 230px;
    border: 2px solid black;
    border-radius: 45px;
}

#body_restaurang {
    background: rgb(215, 180, 126);
}



#grid_wrapper3 {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 20px 0px 30px 800px 600px 200px 100px;
    grid-template-areas: 
    "he he"
    "na na"
    "se se"
    "vp vp"
    "se_om se_om"
    "se_omtx se_omtx"
    "se2 se2"
    "fo fo";
}

/* #sec_djur {
    grid-area: se_dj;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(220, 176, 109);
    margin: 50px;
} */

#sec_om {
    grid-area: se_om;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(118, 185, 160);
    margin: 30px;
}

#sec2 {
    grid-area: se2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    justify-content: center;
    border-radius: 15px;
    background: rgba(138, 194, 148, 0.2);
    font-family: 'Rajdhani', sans-serif;
    margin-left: 650px;
    position: relative;
    bottom: 100px;
}

#varp {
    grid-area: vp;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 100px;
    font-family: 'Luckiest Guy', sans-serif;
    margin: 50px;
    position: relative;
    left: 550px;
}

#sec_omosstext {
    grid-area: se_omtx;
    background-color: rgb(118, 185, 160);
    width: 2000px;
}

#rubrik_historia {
    margin-top: 100px;
    font-size: 2.5rem;
    font-family: 'Luckiest Guy', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#omoss_brodtext {
    margin: 50px;
    padding: 30px;
    justify-content: center;
    flex-direction: row;
    font-family: 'Rajdhani', sans-serif;
    width: 1000px;
    margin-left: 200px;
}

.personal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-area: pe;
    height: 500px;
    width: 250px;
    border: 3px solid black;
    margin: 10px;
    padding: 15px;
    text-align: center;
    background: rgb(138, 194, 148);
    font-family: 'Rajdhani', sans-serif;
    margin-top: 150px;
    position: relative;
    right: 150px;
}

.personalp {
    margin: 10px;
    padding: 3px;
}

#person1 {
    height: 170px;
    width: auto;
    border: 2px solid black;
}

#person2 {
    height: 170px;
    width: auto;
    border: 2px solid black;
}

#person3 {
    height: 170px;
    width: auto;
    border: 2px solid black;
}

#person4 {
    height: 170px;
    width: auto;
    border: 2px solid black;
}

#body_omoss {
    background: rgb(181, 240, 197);
}